.progress-container {
			   width: 100%;
			  height: 3px;
			  margin-left: -10px;
			  background: black;
			  position: fixed;
			  z-index: 4;			  
			}

			.progress-bar {
			  height: 3px;
			  background: grey;
			  width: 0%;
			}